.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #eeeeee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header .span{
  color: rgb(218, 51, 51);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
  margin-top: 1.5rem;
}

.App-header .form{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header .form .child1,.child2,.child3{
  width: 20rem;
  height:2.5rem;
  border-radius: 0.5rem;
  border:0px solid;
  outline: none;
  padding-left: 2rem;
  transition: all 300ms ease;
}

.App-header .form .child4,.child5{
  width: 20rem;
  height:2.5rem;
  border-radius: 0.5rem;
  border:0px solid;
  outline: none;
  padding-left: 2rem;
  cursor: pointer;
  transition: all 300ms ease;
}
.App-header .form .child6{
  width: 20rem;
  height:2.5rem;
  border-radius: 0.5rem;
  background-color: rgb(163, 123, 201);
  border:0px solid;
  outline: none;
  color: white;
  cursor: pointer;
  transition: all 300ms ease;
}
.App-header .form .child6:hover{
  background-color: rgb(201, 173, 228);
}
.App-header .form .child6:active{
  background-color: rgb(141, 126, 155);
}


@keyframes App-logo-spin {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.08);
  }
}
